body {
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%) ;
}

.col-md-7 {
    margin-top: 150px !important;
    /* background-color: #8c20ff; */
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%) ;
    padding: 20px;

}

h1 {
    background-image: linear-gradient(to left, #6a11cb 0%, #2575fc 100%) ;
}

.input, label {
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
}