body {
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%) ;
}

.col-md-6 {
    margin-top: 150px !important;
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%) ;
    border: 1px solid white !important;
    border-radius: 10px;
    
}

input[type=button]
{
    width: 100%;
    background-color: #5B86E5;
    color: white;
    font-weight: bolder;
    border-color: white;
}

input[type=text]
{
    width: 100%;
    border-color: white;
}

h1 {
    font-weight: bolder !important;
    margin-top: 15px !important;
    color:  rgb(46, 46, 46)!important;
}

h5 {
    color: white !important;
}